.add-form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.3rem;
    border: 0.1rem solid var(--color-black);
    border-radius: 0.3rem;
    padding: 0.3rem 0.5rem;

    &__textbox,
    &__action {
        height: 2.4rem;
    }

    &__action {
        width: 2.4rem;
        border: 0.1rem solid transparent;
        background: var(--color-black);
        border-radius: 0.2rem;
        color: var(--color-white);
        cursor: pointer;

        &--secondary {
            background-color: var(--color-white);
            border-color: var(--color-black);
            color: var(--color-black);
        }
    }

    &__image {
        height: 1.6rem;
    }
}