<!-- Show list per item -->
<li [ngClass]="{'nest-item--root': !depth}" class="nest-item" [attr.aria-label]="item.name" [id]="item.name + '_' + item.type + '_' + itemIndex">
    <div [class]="item.type" class="nest-item__details" [class.active]="item.active" [tabIndex]="item.active ? '0' : '-1'" (keydown)="onEnterKey($event)">
        <div class="nest-item__image">
            <img [src]="item.type === 'file' ? '/assets/file-regular.svg' : '/assets/folder-open-regular.svg'" />
        </div>
        <p *ngIf="item && item.name" class="nest-item__name">{{item.name}}</p>
        <div class="nest-item__actions">
            <button *ngIf="item.type === 'folder'" class="nest-item__action" (click)="onShowAddOptions()">&plus;</button>
            <button class="nest-item__action" (click)="onRemoveItem()">&#10005;</button>
        </div>
    </div>
    <div *ngIf="item.items && item.items.length">
        <app-list [items]="item.items" [depth]="depth + 1"></app-list>
    </div>
    <div>
        <ul *ngIf="showAddOptions && item.type === 'folder'" [ngClass]="{'list': !item.items.length}">
            <li class="nest-item nest-actions">
                <div class="nest-item__details no-hover">
                    <div *ngIf="!showForm" class="nest-actions__container">
                        <button (click)="onShowAddForm('file')">File</button>
                        <button (click)="onShowAddForm('folder')">Folder</button>
                    </div>
                    <div *ngIf="showForm">
                        <app-add-form [items]="item.items" [type]="type" (success)="onHideAddForm()" (remove)="onHideAddForm()"></app-add-form>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</li>
