<cdk-tree [dataSource]="dataSource" [treeControl]="treeControl" class="file-tree" cdkTrapFocus (keydown)="onKeydown($event)" #tree>
    <cdk-tree-node
        *cdkTreeNodeDef="let node; when: hasChild"
        cdkTreeNodePadding
        class="file-tree__node"
        [attr.aria-label]="node.type + ' ' + node.name"
        [class]="'file-tree__node--' + node.type"
    >
        <app-file-tree-item *ngIf="isNode(node); else options" [node]="node" (onAdd)="findIndexBeforeAction('add', node)" (onRemove)="findIndexBeforeAction('remove', node)"></app-file-tree-item>
        <ng-template #options>
            <app-add-options *ngIf="isOption(node); else form" [node]="node"></app-add-options>
        </ng-template>
        <ng-template #form>
            <app-add-form *ngIf="isForm(node)"></app-add-form>
        </ng-template>
    </cdk-tree-node>
</cdk-tree>